<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
 <configuration>
 <!-- 변수 선언 --> 
     <properties>
        <property name="url"       value="jdbc:oracle:thin:@//localhost:1521/XE"/>
        <property name="diriver"    value="oracle.jdbc.OracleDriver"/>
        <property name="mysqlUrl" value="jdbc:mysql://127.0.0.1:3306/emp?serverTimezone=Asia/Seoul"/>
        <property name="mysqlDriver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="user"    value="SCOTT"/>
        <property name="passward" value="TIGER"/>
     </properties>
   
   <!-- 사용자 정의 타입: vo 클래스 등록-->
   <typeAliases>
      <typeAlias type="book.vo.Book" alias="Book"/>
      <typeAlias type="book.vo.Price" alias="Price"/>
   </typeAliases>
      
   <!-- db 접속 환경 설정  드라이버 명 ${앞전에 선언한 이름}으로 가져옴 /이름은 소문자로 작성-->
   <environments default="oracleXE">
   
      <environment id="oracleXE">
   
         <transactionManager type="JDBC"/>
         <dataSource type="POOLED">
   
            <property name="url" value="${url}"/>
            <property name="username" value="${username}"/>
            <property name="passward" value="${passward}"/>
            <property name="driver" value="${driver}"/>
         </dataSource>   
      </environment>
         
   <!-- db 접속 환경 설정  드라이버 명 ${앞전에 선언한 이름}으로 가져옴 /이름은 소문자로 작성-->   
      <environment id="mysql">

         <transactionManager type="JDBC"/>
         <dataSource type="POOLED">

            <property name="url" value="${mysqlUrl}"/>
            <property name="username" value="${username}"/>
            <property name="passward" value="${passward}"/>
            <property name="driver" value="${mysqlDriver}"/>
         </dataSource>


      </environment>
   </environments>
       
      <!-- sql 쿼리가 따로 저장되는 파일을 등록 / 물리적인 파일 -->
      <mappers>
      <mapper resource="book/mapper/bookMapper.xml"/>
      </mappers>

</configuration>
   
